# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
backend/node_modules/
frontend/node_modules/

# TypeScript
*.tsbuildinfo

# Build outputs
dist/
backend/dist/
frontend/dist/
out/
build/

# IDE / Editor folders
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Vite specific
frontend/dist/
frontend/package-lock.json.tmp

# Backend specific
backend/dist/
backend/*.ascii.tmp
backend/*.json.tmp

# Git
.git/
